/*Estilos especificos para la pagina web */

.tituloPrincipal{
    color: rgb(126, 13, 128);
    font-size: 50px;
}
.imagenMano{
    display: flex;
    position: absolute;
    left: 450px;
    top: 80px;
}

.imagenColor{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}